html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}

body {
  background-color: rgba(0, 255, 0, 0.1);
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}

/*hsla is used to change opacity in the HSL color scheme. The last value is the alpha (or opacity).
Alpha is a decimal number between 0 and 1. 0 means transparent, 1 means opaque.
rgba is used to change opacity in the RGB color scheme. Hex and named colors cannot have an alpha value added.
zero opacity is written as transparent.
Here, the opacity for .foreground, .midground, and body were edited. When the body alpha value changed from 0.5 to 0.1,
the background became more transparent.
*/
