.grid {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width:500px;
  grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
  grid-gap: 5px;
}

.a {
  grid-row: 5 / 7;
  grid-column: 1 / span 2;
}

.b {
  grid-column: 2 / span 6;
  grid-row: 2 / span 3;
}
.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/*The same properties that control an item spanning multiple rows also exist for columns.
grid-column-start, grid-column-end, and grid-column.
They keyword span can be applied to start or end a column or row relative to its other end
(i.e. 2 / span 2 means the item will start at column 2 and take up 2 columns).
Here, another div of class box and b was added to the HTML inside the grid div:
<div class="grid">
  <div class="box a">A</div>
  <div class="box b">B</div>
</div>
Then box b was made to take up 6 columns, starting with column 2 and using the span function.
Box b was edited to span rows 2-4 and Box a was edited to span columns 1-2 using the span keyword.
*/
