.grid {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width: 500px;
  grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
  grid-gap: 5px;
}

.a {
  grid-row-start: 5;
  grid-row-end: 7;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/*A grid item can take up multiple rows using grid-row-start and grid-row-end.
These are applied to the elements inside the grid, rather than to the outer grid container, as the previous adjustments altered.
The values these commands accept are grid lines, which start at 1 and ends at n+1 (when there are n rows).
Here, class a was set to take up rows 5 and 6 using grid-row-start:5 and grid-row-end:7.
*/
